In [88]:
import pandas as pd

#  Initial Read

In [89]:
df = pd.read_csv("./Data/balanced_urls.csv")

In [90]:
df.head()
df.tail()

                                                  url     result  label
632503        xbox360.ign.com/objects/850/850402.html  malicious      1
632504   games.teamxbox.com/xbox-360/1860/Dead-Space/  malicious      1
632505     www.gamespot.com/xbox360/action/deadspace/  malicious      1
632506  en.wikipedia.org/wiki/Dead_Space_(video_game)  malicious      1
632507      www.angelfire.com/goth/devilmaycrytonite/  malicious      1

In [91]:
def initial_read(df):
    print('SHAPE')
    print(df.shape)
    print('=====')
    print('DTYPES')
    print(df.dtypes)
    print('=====')
    print('NULL VALUES')
    print(df.isnull().sum())
    print('=====')
initial_read(df)

SHAPE
(632508, 3)
=====
DTYPES
url       object
result    object
label      int64
dtype: object
=====
NULL VALUES
url       0
result    0
label     0
dtype: int64
=====

# Cleaning

In [92]:
df.dropna(inplace=True)

In [93]:
df.isnull().sum()

url       0
result    0
label     0
dtype: int64

In [94]:
df['label'] = df['label'].astype(int)

In [95]:
df.dtypes

url       object
result    object
label      int32
dtype: object

In [96]:
df[df.duplicated()]

Empty DataFrame
Columns: [url, result, label]
Index: []

In [97]:
df.to_csv('./Data/balanced_urls_clean.csv')